
<div *ngIf="isOpen" class="modal fade show" style="display: block;" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
     
      <div class="modal-header">
        <h5 class="modal-title w-100 text-center">{{ 'appointment.title' | translate }}</h5>
        <button 
          type="button" 
          class="btn-close" 
          (click)="closeModal()">
        </button>
      </div>
      
     
      <div class="modal-body text-center">
        <p>{{"appointment.message" | translate}}</p>
      </div>
      
      
      <div class="modal-footer">
        <button 
          type="button" 
          class="btn btn-primary"
          (click)="acceptModal()">
          {{ 'appointment.accept' | translate }}
        </button>
      </div>
    </div>
  </div>
</div>


<div *ngIf="isOpen" class="modal-backdrop fade show" (click)="closeModal()"></div>
