<!-- component.html -->
<div class="container mt-4">
  <h2>{{ 'list.title' | translate }}</h2>

  <div class="row gy-0"> 
    <div class="col-12 mb-2" *ngFor="let moto of motos">
      <a
        [routerLink]="['/motos/detail', moto.id]"
        class="card clickable-card text-decoration-none text-body"
      >
        <div class="row g-0 align-items-center">
          
          <div class="col-auto">
            <img
              src="assets/images/ico.png"
              alt="Imagen de {{ moto.nombre }}"
              class="img-fluid rounded-start"
              style="width: 100px; object-fit: cover;"
            />
          </div>
          
          <div class="col ms-2">
            <div class="card-body py-2 px-1">
              <h5 class="card-title mb-1">{{ moto.nombre }}</h5>
              <hr class="my-2">
              <p class="card-text mb-1">
                <strong>{{ 'list.model' | translate }}:</strong> {{ moto.modelo }}
              </p>
              <p class="card-text mb-1">
                <strong>{{ 'list.date' | translate }}:</strong> {{ moto.fechaCompra | date:'dd/MM/yyyy' }}
                <span class="mx-3">|</span>
                <strong>{{ 'list.price' | translate }}: </strong>
                <span class="badge bg-primary">
                  {{ moto.precioCompra | currency:'EUR':'symbol':'1.0-0' }}
                </span>
              </p>
            </div>
          </div>

          <div class="col-auto pe-2">
            <i class="bi bi-chevron-right fs-5 text-secondary"></i>
          </div>

        </div>
      </a>
    </div>
  </div>
</div>