

<div class="container mt-4">
    <div class="row">
        <div class="col">
            <a [routerLink]="['/motos']" class="btn btn-outline-primary mb-3">
                <i class="fas fa-arrow-left me-2"></i>
                Volver a la lista
            </a>
        
            <div class="card mb-4 shadow-sm">
                <div class="row g-0 align-items-center">

                    <div class="col-auto">
                        <img
                            src="assets/images/ico.png"
                            alt="Imagen de {{ moto.nombre }}"
                            class="img-fluid rounded-start"
                            style="width: 150px; object-fit: cover;"
                        />
                    </div>
                    
                    <div class="col">
                        <div class="card-body p-3">
                            <!-- Nombre e ID alineados a la izquierda -->
                            <div class="mb-2">
                            <small class="text-muted">#{{ moto.id }}</small>
                            <h5 class="card-title mb-1">{{ moto.nombre }}</h5>
                            </div>

                            <!-- Descripción detallada -->
                            <dl class="row mb-2">
                            <dt class="col-3">Modelo:</dt>
                            <dd class="col-9">{{ moto.modelo }}</dd>

                            <dt class="col-3">Fecha de compra:</dt>
                            <dd class="col-9">{{ moto.fechaCompra | date:'dd/MM/yyyy' }}</dd>

                            <dt class="col-3">Precio</dt>
                            <dd class="col-9">
                                <div class="d-flex align-items-center gap-2">
                                    <!-- Precio de compra -->
                                    <span class="badge bg-primary d-flex align-items-center py-2 px-3">
                                    <i class="bi bi-tag-fill me-1"></i>
                                    Compra: {{ moto.precioCompra | currency:'EUR':'symbol':'1.0-0' }}
                                    </span>

                                    <!-- Flecha separadora -->
                                    <i class="bi bi-arrow-right-short fs-4 text-secondary"></i>

                                    <!-- Precio recomendado de venta -->
                                    <span class="badge bg-success d-flex align-items-center py-2 px-3">
                                    <i class="bi bi-currency-euro me-1"></i>
                                    Venta: {{ moto.precioReventa | currency:'EUR':'symbol':'1.0-0' }}
                                    </span>
                                </div>
                            </dd>
                            </dl>
                        </div>
                    </div>
                
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Component -->
<app-appointment-modal></app-appointment-modal>