
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand fw-bold" [routerLink]="['/']">
      <i class="fas fa-motorcycle me-2"></i>
      {{ 'title' | translate }}
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
          >
            <i class="fas fa-globe me-1"></i>
            {{ 'language' | translate }}
          </a>
          <ul class="dropdown-menu dropdown-menu-end">
            <li>
              <a
                class="dropdown-item"
                [class.active]="currentLanguage === 'es'"
                (click)="switchLanguage('es')"
              >
                🇪🇸 {{ 'spanish' | translate }}
              </a>
            </li>
            <li>
              <a
                class="dropdown-item"
                [class.active]="currentLanguage === 'en'"
                (click)="switchLanguage('en')"
              >
                🇺🇸 {{ 'english' | translate }}
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>